body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    height: 35px;
    background-color: #1f2937;
    /* to separate the text to each side */
    justify-content: space-between;
    /*line up with section 1 */
    padding: 8px 140px;
    /* vertically centre */
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}
.links {
    font-size: 18px;
    color: #e5e7eb;
}
.section-one {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 70px;
    height: fit-content;
}
.image-man {
    width: 500px;
}
.title-one {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0px;
}
.write-up {
  width: 500px;
  color: #e5e7eb;
  font-size: 18px;
  padding: 10px 0;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
    margin: 10px 0;
    border-radius: 6px;
    padding: 5px 20px;
    cursor: pointer;
}
.section-two {
    display: flex;
    flex-direction: column;
}
.title-two {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 20px 0;
}
.images-two {
    display: flex;
    justify-content: center;
}
/* in order to target the images not containers */
.images-two img {
    object-fit: cover;
    height:150px;
    width: 200px;
    border: 3px solid #1f2937;
    border-radius: 9px;
}
.caption {
    text-align: center;
    color: rgb(67, 67, 67);
}
.section-three {
    display: flex;
    flex-direction: column;
    /* centre the text */
    align-items: center;
    background-color: #e5e7eb;
    padding: 50px;
    margin:50px 0;
}
.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    max-width: 700px;
}
.accredation {
    margin: 10px;
    /* we must increase the box width in order to right align */
    width: 650px;
    text-align: right;

}
